---
- name: Get secret
  # delegate_to: localhost
  uri:
    url: "https://{{vaultURL}}/secrets/{{item}}/?api-version=7.2"
    body_format: json
    force_basic_auth: yes
    headers:
      Authorization: "Bearer {{ az_access_token }}"
    method: "GET"     
    return_content: yes
  register: vault_results

- name: Set secret {{ item }}
  set_fact: 
    populatedSecrets: "{{populatedSecrets | default({}) | combine({item:vault_results.json.value}) }}"